.menu{
    /**list-style: none;**/
    padding: 0px;
    background:#22204F;
    margin: auto;
}

 .menu li a{
     text-decoration: none  ;
     color: cornsilk; 
     padding: 35px;   
     display: block;   
 }
 .menu li{
     display: inline-block;
     text-align: center;
 }
 .menu li a:hover{
     background: #ef8354; 
     border-radius: 20px;
 } 